@using System.Threading

<p>Hello my dear friends - I'm a child.</p>
<div data-module="loader" data-loader='{ "url": "/start/superChild", "contentElement": "#superChild", "loadOnInit": true }'>BOX IT</div>
<div id="superChild"></div>